<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习-购物车</title>
    <style type="text/css"> 
        [v-cloak]{display:none;}
    </style>  
</head>
<body>
    <div id="app" v-cloak>
        <p><b>textarea</b></p>
        <textarea  v-model="text" placeholder="输入..."></textarea>
        <p><b>@input</b></p>
        <input type="text" @input="handleInput" placeholder="输入...">
        <span>输入的内容拼音阶段就显示：{{message}}</span>
        <p><b>单选按钮</b></p>
        <p>- 单独使用时直接用v-bind绑定</p>
        <input type="radio" :checked="picked_1">
        <label>单选按钮</label>
        <p>- 组合使用时，需要v-model配合value使用</p>
        <input type="radio" v-model="picked" id="html" value="html1">
        <label for="html">HTML</label>
        <br>
        <input type="radio" v-model="picked" id="js" value="js">
        <label for="js">JavaScript</label>
        <br>
        <input type="radio" v-model="picked" id="css" value="css1">
        <label for="css">CSS</label>
        <br>
        <p>选择的项是：{{picked}}</p>
        <p><b>复选框</b></p>
        <p>- 单独使用</p>
        <input type="checkbox" v-model="checked_1" id="checked">
        <label for="checked">选择状态：{{checked_1}}</label>
        <p>组合使用</p>
        <input type="checkbox" value="HTML" id="html_c" v-model="checked">
        <label for="html_c">HTML</label>
        <br>
        <input type="checkbox" value="JS" id="js_c" v-model="checked">
        <label for="js_c">JavaScript</label>
        <br>
        <input type="checkbox" value="Css" id="css_c" v-model="checked">
        <label for="css_c">Css</label>
        <p>选择的项是：{{checked}}</p>
        
        <p><b>选择列表：</b></p>
        <p>- 单选</p>
        <select v-model="selected_1">
            <option>html</option>
            <option value="js">JavaScript</option>
            <option>css</option>
        </select>
        <p>选择的项是：{{selected_1}}</p>
        <p>- 多选</p>
        <select multiple v-model="selected">
            <option>html</option>
            <option value="js">JavaScript</option>
            <option>css</option>
        </select>
        <p>选择的项是：{{selected}} </p>
        <p>- v-for 动态输出</p>
        <select v-model="selected">
            <option v-for="option in options"
                    :value="option.value">
                {{option.text}}
            </option>
        </select>
        <P>---------------------------</P>
        <p>6.2 绑定值</p>
        <input type="radio" v-model="picked_bind" :value="picked_bindvalue">
        <label>单选按钮-选中时的值</label>
        <p>{{picked_bind}}</p>
        <p>{{picked_bindvalue}}</p>
        <p><b>复选框</b></p>
        <input  
            type="checkbox" 
            v-model="toggle" 
            :true-value="value1" 
            :false-value="value2">
        <label>复选框-勾选与未勾选的值</label>
        <p>{{toggle}}---> 问题：v-model=true,复选框没有勾选？</p>
        <p>{{value1}}</p>
        <p>{{value2}}</p>

    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                text:'',
                message:'',
                picked_1:true,
                picked:'css1',
                checked_1:false,
                checked:['HTML','Css'],
                selected_1:'css',
                selected:['html','js'],
                options:[
                    {
                        text:'HTML',
                        value:'html'
                    },
                    {
                        text:'JavaScript',
                        value:'js'
                    },
                    {
                        text:'CSS',
                        value:'css'
                    }
                ],
                picked_bind:false,
                picked_bindvalue:123,
                toggle:true,
                value1:'a',
                value2:'b'
            },
            methods:{
                handleInput:function(e){
                    this.message=e.target.value;
                }
            }
        });
    </script>
</body>
</html>